<li class="table-list-item rental-list-item" id="rental_<%= rental.to_param %>">
  <div class="row">
    <div class="col-xs-4 table-list-cell">
      <span><%= rental.name %></span>
    </div>
    <div class="col-xs-4 table-list-cell">
      <span><%= rental.description %></span>
    </div>
    <div class="col-xs-4 table-list-cell">
      <span>&nbsp;</span>
    </div>
  </div>
</li>
