// ---- Colors ----

// Brand
$gray-dark:         #333    !default;

// Background colors
$bg-gray-dark:      $gray-dark !default;
$bg-gray-light:     #fafafa !default;
$bg-gray:           #f5f5f5 !default;
$bg-red:            #c9302c !default;

// Border colors
$border-gray-dark:  #ddd !default;
$border-gray-darker: #444 !default;
$border-gray-light: #eee !default;
$border-gray:       #e5e5e5 !default;
