<li class="result" id="rental_<%= result.to_param %>">
  <%= link_to rental_path(result, starts_at: starts_at, ends_at: ends_at), class: "result-wrapper" do %>
    <div class="row">
      <div class="col-xs-3">
        <%# TODO: Update image %>
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Image+Coming+Soon&w=250&h=150" alt="Coming Soon" />
      </div>
      <div class="col-xs-9">
        <h3><%= result.name %></h3>
        <p>
          <%= result.description %>
        </p>
      </div>
    </div>
  <% end %>
</li>
